﻿
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);

html
{
cursor: none;
/*overflow:hidden;*/
height:1800px;

}

body
{
  font-family: 'Lato', sans-serif;
  margin:auto;
  color:white;
  background-color:#000;
  overflow:hidden;
  
}


h2
{
font-family: 'Lato', sans-serif;
font-size: 26px;
color:white;
margin: 15px auto;
}



#titleImg
{
    margin-top: 37px;
    margin-bottom:3px;
}

#games-list
{
 overflow:hidden;
 
 margin:0 37px;

 display: -webkit-flex; /* Safari */
 display:flex;

 display: -webkit-flex; /* Safari */
 -webkit-flex-wrap: wrap; /* Safari 6.1+ */
 flex-wrap:wrap;

 align-items: center;
 -webkit-align-items: center; /* Safari 7.0+ */

 height:945px;
   
}

.game
{

  padding: 0 15px;
  color: white;
  margin: 10px;

  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align:center;

  align-self:stretch;
  -webkit-align-self:stretch;
  
  display: -webkit-flex;
  display:flex;

  align-items:center;
  -webkit-align-items:center;
  
}

@keyframes rot1 {
    from { 
    transform: rotate(-2deg);

    }
    to { transform: rotate(2deg);  }
}

@keyframes rot2 {
    from { 
    transform: rotate(2deg);

    }
    to { transform: rotate(-2deg);  }
}

@keyframes rot3 {
    from { 
    transform: rotate(-1deg);

    }
    to { transform: rotate(3deg);  }
}

@keyframes rot4 {
    from { 
    transform: rotate(-3deg);

    }
    to { transform: rotate(1deg);  }
}



@-webkit-keyframes rot1 {
    from { 
    -webkit-transform: rotate(-2deg);

    }
    to { -webkit-transform: rotate(2deg);  }
}

@-webkit-keyframes rot2 {
    from { 
    -webkit-transform: rotate(2deg);

    }
    to { -webkit-transform: rotate(-2deg);  }
}

@-webkit-keyframes rot3 {
    from { 
    -webkit-transform: rotate(-1deg);

    }
    to { -webkit-transform: rotate(3deg);  }
}

@-webkit-keyframes rot4 {
    from { 
    -webkit-transform: rotate(-3deg);

    }
    to { -webkit-transform: rotate(1deg);  }
}

@-moz-keyframes rot1 {
    from { 
    -moz-transform: rotate(-2deg);

    }
    to { -moz-transform: rotate(2deg);  }
}

@-moz-keyframes rot2 {
    from { 
    -moz-transform: rotate(2deg);

    }
    to { -moz-transform: rotate(-2deg);  }
}

@-moz-keyframes rot3 {
    from { 
    -moz-transform: rotate(-1deg);

    }
    to { -moz-transform: rotate(3deg);  }
}

@-moz-keyframes rot4 {
    from { 
    -moz-transform: rotate(-3deg);

    }
    to { -moz-transform: rotate(1deg);  }
}

.game {
    background-image: linear-gradient( #51c8eb, #ee3799);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /* <- here it is */

  }